@charset "UTF-8";
body {
  margin: 0 auto;
  padding: 0;
  display: block;
  font-family: sans-serif;
  max-width: 1400px;
}

.banner {
  display: block;
  width: 100%;
  height: 220px;
  background: url("../img/revisa-banner.png") no-repeat center/cover;
  box-shadow: 3px 4px 16px rgba(20, 20, 20, 0.2);
}

.main {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 660px;
}
.main select {
  padding: 0.75rem 1.25rem;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  background: lightgrey;
  border: none;
  border-bottom: 2px solid black;
  box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.2);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main select:hover {
  box-shadow: 3px 4px 16px rgba(20, 20, 20, 0.2);
}
.main section {
  margin-top: 2rem;
  height: 360px;
  position: relative;
  background: #eeeeee;
}
.main section h2 {
  margin: 0;
  padding: 1rem 1.25rem;
  background: #0173ff;
  color: white;
}
.main section .nomes {
  padding: 0;
  height: 300px;
  overflow-y: scroll;
}
.main section .nomes::-webkit-scrollbar {
  display: none;
}
.main section .nomes div {
  position: relative;
}
.main section .nomes p {
  margin: 0;
  padding: 1rem 1.25rem 0.75rem;
  position: relative;
  font-size: 0.9rem;
  border-bottom: 2px solid grey;
  transition: 0.2s ease-in-out;
}
.main section .nomes p.ativo {
  font-size: 1.1rem;
  color: #0173ff;
  font-weight: 600;
  background: white;
  box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.2);
}
.main section .nomes p.selecionado {
  position: relative;
  bottom: 200px;
  font-size: 1.4rem;
  color: #0173ff;
  font-weight: 600;
  background: white;
  box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.2);
  transform: translateY(100px);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.main section .nomes p.selecionado.visivel {
  opacity: 1;
  transform: translateY(0);
}
.main section .nomes p.selecionado::after {
  content: "E o ganhador é...";
  position: absolute;
  top: -20px;
  left: 1.25rem;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}
.main p.ganhador__escolhido {
  margin: 0;
  color: darkred;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.2s ease-in-out;
}
.main p.ganhador__escolhido.visivel {
  opacity: 1;
  transform: translateY(0);
}
.main button {
  margin-top: 1.5rem;
  padding: 0.75rem 1rem;
  width: 160px;
  color: white;
  font-weight: bold;
  background: #0173ff;
  border: none;
  box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.3);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main button:hover {
  box-shadow: 3px 4px 16px rgba(20, 20, 20, 0.4);
}
.main button[disabled] {
  background: #555555;
  box-shadow: 0 0 0;
  cursor: default;
}

.imagem__ganhador {
  width: 380px;
  height: 230px;
  object-fit: cover;
  position: absolute;
  top: 180px;
  left: 1.25rem;
  box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s ease-in-out;
}
.imagem__ganhador.visivel {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=main.css.map */
