

body {
  margin: 0 auto;
  padding: 0;
  display: block;
  font-family: sans-serif;
  max-width: 1400px;
}

.banner {
  display: block;
  width: 100%;
  height: 220px;
  background: url('../img/revisa-banner.png') no-repeat center/cover;
  box-shadow: 3px 4px 16px rgba(20, 20, 20, .2);
}

.main {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 660px;

  & select {
    padding: .75rem 1.25rem;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    background: lightgrey;
    border: none;
    border-bottom: 2px solid black;
    box-shadow: 3px 4px 8px rgba(20, 20, 20, .2);
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 3px 4px 16px rgba(20, 20, 20, .2);
    }
  }

  & section {
    margin-top: 2rem;
    height: 360px;
    position: relative;
    background: #eeeeee;

    & h2 {
      margin: 0;
      padding: 1rem 1.25rem;
      background: #0173ff;
      color: white;
    }

    & .nomes {
      padding: 0;
      height: 300px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      & div {
        position: relative;
      }

      & p {
        margin: 0;
        padding: 1rem 1.25rem .75rem;
        position: relative;
        font-size: .9rem;
        border-bottom: 2px solid grey;
        transition: .2s ease-in-out;

        &.ativo {
          font-size: 1.1rem;
          color: #0173ff;
          font-weight: 600;
          background: white;
          box-shadow: 3px 4px 8px rgba(20, 20, 20, .2);
        }

        &.selecionado {
          position: relative;
          bottom: 200px;
          font-size: 1.4rem;
          color: #0173ff;
          font-weight: 600;
          background: white;
          box-shadow: 3px 4px 8px rgba(20, 20, 20, .2);
          transform: translateY(100px);
          opacity: 0;
          transition: .2s ease-in-out;

          &.visivel {
            opacity: 1;
            transform: translateY(0);
          }

          &::after {
            content: 'E o ganhador é...';
            position: absolute;
            top: -20px;
            left: 1.25rem;
            font-size: .9rem;
            transition: .3s ease-in-out;
          }
        }
      }
    }
  }

  & p.ganhador__escolhido {
    margin: 0;
    color: darkred;
    opacity: 0;
    transform: translateY(20px);
    transition: .2s ease-in-out;

    &.visivel {
      opacity: 1;
      transform: translateY(0);
    }
  }

  & button {
    margin-top: 1.5rem;
    padding: .75rem 1rem;
    width: 160px;
    color: white;
    font-weight: bold;
    background: #0173ff;
    border: none;
    box-shadow: 3px 4px 8px rgba(20, 20, 20, .3);
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 3px 4px 16px rgba(20, 20, 20, .4);
    }

    &[disabled] {
      background: #555555;
      box-shadow: 0 0 0;
      cursor: default;
    }
  }
}

.imagem__ganhador {
  width: 380px;
  height: 230px;
  object-fit: cover;
  position: absolute;
  top: 180px;
  left: 1.25rem;
  box-shadow: 3px 4px 8px rgba(20, 20, 20, .3);
  opacity: 0;
  transform: translateY(20px);
  transition: .3s ease-in-out;

  &.visivel {
    opacity: 1;
    transform: translateY(0);
  }
}
